*{
    padding: 0%;
    margin: 0%;
}
.our_service
{
    color:rgb(69, 130, 130);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}
.one{
    
    font-weight: 500;
    font-size: 80px;
    color:red; 
    padding-left: 10px;     
}

.service_name{
    color:rgb(69, 130, 130);
    padding-top: 30px;
}
.about_us{
    border: 2px solid rgb(69, 130, 130);
    background-color: rgb(69, 130, 130);
    color: white;
    top: 30px;
    bottom: 30px;
    text-align: center;
    padding:5%;
    margin-top: 30px;
}
.contact_us{
    border: 2px solid red;
    background-color: red;
    top: 30px;
    bottom: 30px;
    color: white;
    padding:5%;
}
.b_link{
    border: 2px solid rgb(151, 206, 206);
    background-color: rgb(151, 206, 206);
    top: 20%;
    bottom: 20%;
    text-align: center;
    padding:15%;
    font-size:25px;   
}
.s_h2{
    font-size: 30px;
    padding-top: 25px;
    text-align: center;
    
}
    
.text{
    text-align:justify;
    padding:10px;   
}
.box{
    position: absolute;
    z-index: 1;
    bottom:77%;
    left: 64%;
    background-color:rgba(69, 130, 130,0.8);
    border-radius: 0px 0px 50% 50%;
    padding: 100px 70px;
    text-align: center;
    color: white;

}
.logo{
    
    position: relative;  
    top: 50px;
    left: 70px;
}
.com_name
{
    font-size: 50px;
    padding-top: 70px;
    margin-top:30px;

}
.bold{
    color: red;
}
.footer{
    border: 2px solid red;
    width: 100%;
    height: 25px;
    margin-top: 20px;
    background-color: red;    
}